
$font-size: 10px;

$border-radius:(
    "400": 4px,
    "default": 10px,
);

$box-shadow:(
// "default": 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    "default": 0 0 0 0 rgb(255, 255, 255)
);

$transition:(
    "default": .3s ease-in-out
);