@use '../variables/colors' as color;
@use '../variables/variables' as var;
@use '../base/fonts';
@use '../base/scrolls' as scroll;

article.web-anime-card-info{
    margin: 20px;
    background-color: map-get(color.$bg-color , "business", "700" );
    border-radius: map-get(var.$border-radius, "400" );
    width: 42rem;
    display: flex;
    flex-wrap: wrap;
    &.shadow{
        box-shadow: map-get($map: var.$box-shadow, $key: 'default');
    }
    picture{
        flex: 1 1 15rem;
        max-width: 10rem;
        img{
            width: 10rem;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: map-get(var.$border-radius, "400" );
            border-bottom-left-radius: map-get(var.$border-radius, "400" );
        }
    }
    div.web-anime-card-info__content{
        flex: 2 1 auto;
        display: flex;
        max-width: 32rem;
        flex-direction: column;
        padding: 2rem;
        h3{
            @extend .web-f;
            @extend .fw-normal;
            @extend .fs-14;
            @extend .fs-black;
            margin-bottom: 5px
        }
        p{
            @include scroll.simple-scroll;
            @extend .web-f;
            @extend .fw-normal;
            @extend .fs-12;
            @extend .fs-black;
            height: 5rem;
            overflow-y: auto;
            display: inline-block;
        }
        .web-anime-card-info__categories{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding-top: 1rem;
            flex-direction: row;
        }
    }
}

@media screen and (max-width: 450px) {
    article.web-anime-card-info{
        flex-direction: column;
        width: auto;
        picture{
            display: flex;
            max-width: 100%;
            max-height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-top-left-radius: map-get(var.$border-radius, "400" );
                border-top-right-radius: map-get(var.$border-radius, "400" );
                border-bottom-left-radius: 0;
            }
        }
        div.web-anime-card-info__content{
            flex-direction: column;
            padding: 1rem;
            p{
                height: 10rem;
            }
        }
    }
}