@use '../base/fonts';

div.web-caption{
    @extend .web-f;
    // @extend .fs-20;
    // @extend .fs-black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}