@forward './button';
@forward './caption';
@forward './icon';
@forward './latest-episodes-card';
@forward './badge-anime-type';
@forward './badge-anime-category';
@forward './anime-card-info';
@forward './anime-card';