@use './../variables/colors' as color;
@use '../variables/variables' as var;
@use '../base/fonts';

div.web-multiselect{
    position: relative;
    .web-multiselect-input{
        @extend .web-f;
        @extend .fs-14;
        align-items: center;
        background-color: map-get(color.$color , "white", "default" );
        border-radius: map-get(var.$border-radius, "400" );
        display: flex;
        height: 3rem;
        justify-content: space-between;
        max-width: 17.5rem;
        padding: 0 10px;
    }
    .web-multiselect-input__option{
        background-color: map-get(color.$bg-color, "primary", "default" );
        border-radius: map-get(var.$border-radius, "400" );
        box-shadow: map-get(var.$box-shadow, "size-4" );
        min-width: 17.5rem;
        padding: 10px;
        position: absolute;
        top: 40px;
    }
}