<section class="ik-anime-world-venture">
    <web-caption icon="../../../../../assets/onigiris/asaka.png">
        <h2 #caption>Todos los animes</h2>
    </web-caption>
    <div class="web-bg-card web-mt-2 ik-anime-world-venture__search-section">
        <web-multiselect
            [props]="{
                label: 'Categoria',
            }"
        >
            <div #options class="ik-anime-world-venture__search-section-input-category">
                @for (category of categories().item?.records; track $index) {
                    <div>
                        <input type="checkbox" name="category" [id]="category.id" title="Categoria">
                        <label [for]="category.id">{{ category.name | titlecase }}</label>
                    </div>
                }
            </div>
        </web-multiselect>
        <web-multiselect
            [props]="{
                label: 'Estado',
            }"
        >
            <div #options>
                @for (state of states().item?.records; track $index) {
                    <web-basic-option [option]="{
                        key: state.id,
                        label: state.name | titlecase,
                        name: 'Estado',
                        title: 'Estado',
                    }">

                    </web-basic-option>
                }
            </div>
        </web-multiselect>
        <web-multiselect
            [props]="{
                label: 'Tipo',
            }"
        >
            <div #options>
                @for (type of types().item?.records; track $index) {
                    <web-basic-option [option]="{
                        key: type.id,
                        label: type.name | titlecase,
                        name: 'Tipo',
                        title: 'Tipo',
                    }">

                    </web-basic-option>
                }
            </div>
        </web-multiselect>

    </div>
</section>