<section class="ik-anime-world-venture">
    <web-caption icon="../../../../../assets/onigiris/asaka.png">
        <h2 #caption>Todos los animes</h2>
    </web-caption>
    <div class="web-bg-card web-mt-2 ik-anime-world-venture__search-section">
        <web-multiselect
            [props]="{
                label: 'Estado',
            }"
        >
            <div #options>
                @for (category of categories().item?.records; track $index) {
                    <div>
                        <input type="checkbox" name="category" [id]="category.id" title="category">
                        <label [for]="category.id">{{ category.name }}</label>
                    </div>
                }
            </div>
        </web-multiselect>
    </div>
</section>