<header class="ik-header">
    <picture>
        <img src="../../../assets/images/ikanime-logo.png" alt="Ikanime">
    </picture>
    <nav>
        <div class="ik-header__nav_buttons">
            @for (button of navbarButtons; track $index) {
                <web-nav-button [routerLink]="button.routerLink" (onClick)="button.onClick()" [selected]="button.selected">
                    <span #text>{{button.text}}</span>
                </web-nav-button>
            }
            <app-find-animes></app-find-animes>
        </div>
        <web-nav-button [selected]="true">
            <span #text class="web-flex gap-10">Ingresar <img src="../../../assets/svgs/user.svg" alt="User"></span>
        </web-nav-button>
    </nav>
</header>
