@use "../../../../../web-components/src/assets/scss/variables/colors" as color;
@use "../../../../../web-components/src/assets/scss/variables/variables" as var;
@use "../../../../../web-components/src/assets/scss/base/fonts";
@use "../../../../../web-components/src/assets/scss/base/scrolls" as scroll;

div.ik-findAnimes-component{
    position: relative;
    .ik-findAnimes-component-input{
        background-color: map-get( color.$bg-color, "business", "700" );
        border-radius: map-get( var.$border-radius, "default" );
        display: flex;
        padding: 0 20px;
        input{
            @extend .web-f;
            background: #ffffff00;
            border: none;
            color: map-get(color.$text-color , "white" );
            height: 4rem;
            outline: none;
            padding: 0 20px 0 0;
            width: 20rem;
            &::placeholder{
                color: map-get(color.$text-color , "white" );
            }
            &::-webkit-search-cancel-button {
                display: none;
            }
        }
    }
    .ik-findAnimes-component-response{
        @include scroll.simple-scroll;
        background-color: map-get( color.$bg-color , "primary", "default" );
        border-radius: map-get( var.$border-radius, "400" );
        box-shadow: map-get(var.$box-shadow, "size-4" );
        left: -30px;
        max-height: 40rem;
        overflow-y: auto;
        position: absolute;
        top: 50px;
        width: calc(100% + 60px);
        z-index: 200;
        .ik-findAnimes-component-response-anime{
            align-items: center;
            border-bottom: 1px solid map-get(color.$color, "grey", "200");
            display: flex;
            gap: 10px;
            padding: 5px 0 5px 10px;
            picture{
                min-width: 70px;
                height: 70px;
                img{
                    border-radius: map-get( var.$border-radius, "400" ); 
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center
                }
            }
            h3{
                @extend .web-f;
                @extend .fs-14;
                margin: 10px 0 5px 0;
            }
        }
        .ik-findAnimes-component-response-anime-404{
            align-items: center;
            display: flex;
            height: 5rem;
            justify-content: center;
            span{
                @extend .web-f; 
                @extend .fs-14;
            }
        }
    }
}