@use "../../../../../web-components/src/assets/scss/variables/colors" as color;
@use "../../../../../web-components/src/assets/scss/variables/variables" as var;

header.ik-header{
    background-color: map-get( color.$bg-color, "business", "default" );
    display: flex;
    justify-content: space-between;
    padding: map-get(var.$screen-size, "xxl", "padding");
    align-items: center;
    
    box-shadow: map-get($map: var.$box-shadow, $key: 'default');
    nav {
        display: flex;
        gap: 30px;
        .ik-header__nav_buttons{
            display: flex;
            gap: 20px;
        }
    }
}
@media screen and (max-width: map-get(var.$screen-size, "lg", "max-width")) {
    header.ik-header{
        padding: map-get(var.$screen-size, "lg", "padding")
    }
}
@media screen and (max-width: 1150px) {
    header.ik-header{
        //TODO: Formato smartphone
        background-color: rebeccapurple;
    }
}