@mixin simple-scroll($track-color:#d2d2d2, $thumb-color:#4f4f4f, $size: 1px){  
    &::-webkit-scrollbar {
        width: $size;
    }
    &::-webkit-scrollbar-track {
        background: $track-color;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: $thumb-color;
        border-radius: 3px;
    }
}